Dianne Skoll <dfs@roaringpenguin.com> David Skoll
Dianne Skoll <dfs@roaringpenguin.com> David F. Skoll
Dianne Skoll <dskoll@cpan.org> <dfs@roaringpenguin.com>
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
